
.gradient {
  background: linear-gradient(90.17deg, rgba(18, 18, 18, 0.88) 1.03%, rgba(18, 18, 18, 0.92) 44.18%, rgba(1, 1, 1, 0) 95.15%);
}

.fontStyle {
  font-family: "Roboto", sans-serif;
}

.custom-pagination {
  display: flex;
}

.custom-pagination .swiper-pagination-bullet {
  margin-right: 10px; /* Adjust as needed */
}
